<template name="PageTask">
    <div class="panel panel-default">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td><b>URL</b></td>
                <td>{{url}}</td>
                <td><b>Длина</b></td>
                <td>{{url.length}}</td>
            </tr>
            <tr>
                <td><b>TITLE</b></td>
                <td>{{title}}</td>
                <td><b>Факт</b></td>
                <td>{{plan}}</td>
            </tr>
            <tr>
                <td><b>H1</b></td>
                <td>{{h1}}</td>
                <td><b>План</b></td>
                <td>{{fact}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover">
            <tbody>
            <tr>
                <td><b>Слово</b></td>
                <td><b>Кол</b></td>
                <td><b>Факт</b></td>
            </tr>
            {{#each keywords}}
                <tr>
                    <td>{{word}}</td>
                    <td><b>{{plan}}</b></td>
                    <td>{{fact}}</td>
                </tr>
            {{/each}}
            </tbody>

        </table>
        <iframe width="1000px" height="800px" src="{{document}}"></iframe>

    </div>
</template>